* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* 
====================================
VARIABLES
====================================
*/
:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);

  --transition: all 0.3s linear;
}
/* 
====================================
MAIN CONTAINER
====================================
*/
.main-container {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 900px) {
  .main-container {
    display: grid;
    grid-template-columns: 400px 1fr;
  }
}
/* 
====================================
INFO
====================================
*/
.info {
  background: var(--color-dark--2);
  /* height: 600px; */
  width: 100%;
}
.logo-center {
  width: 100%;
  height: 120px;
  position: relative;
}
.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 80px;
  width: 100%;
  margin-bottom: 3rem;
}
.logo {
  height: 100%;
  width: 130px;
  object-fit: contain;
}
.stat-out-container {
  background: rgba(255, 255, 255, 0.2);
  width: 90%;
  margin: auto;
  border-radius: 0.2rem;
  max-width: 400px;
}
.stat-out-container h3 {
  margin: 1rem;
  padding-top: 1rem;
  color: var(--color-light--2);
}
.stat-inner-container {
  margin: 0 1rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: 400;
  padding-bottom: 1rem;
}
.unit {
  font-size: 0.7rem;
  color: var(--color-light--1);
}
/* .stat-inner-container h4 {
  outline: 2px solid red;
} */
.take-input-container {
  transition: var(--transition);
  height: 100px;
  overflow: hidden;
}
.center {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-light--2);
  width: 160px;
}
.field-1,
.field-2 {
  margin-bottom: 0.5rem;
}
input,
select {
  background: var(--color-light--2);
  text-align: center;
}
select {
  height: 30px;
  width: 80px;
  border-radius: 0.3rem;
}
[type^="number"] {
  height: 30px;
  width: 80px;
  border-radius: 0.3rem;
}
.info-container {
  background: var(--color-dark--2);
  overflow-y: scroll;
  /* outline: 2px solid red; */
  border-left: none;
  transition: var(--transition);
}
.workout {
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
}
.info-container::-webkit-scrollbar {
  display: none;
}
.info-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.Running {
  border-left: 5px solid var(--color-brand--2);
}
.Cycling {
  border-left: 5px solid var(--color-brand--1);
}
.workout {
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .info {
    height: 100vh;
    min-height: 500px;
  }
  .stat-out-container {
    width: 95%;
  }
  .info-container {
    height: 640px;
  }
}
/* 
====================================
MAP
====================================
*/
#map {
  width: 100%;
  height: 700px;
}
@media screen and (min-width: 900px) {
  #map {
    height: 100vh;
    min-height: 500px;
  }
}
/* 
====================================
POPUP
====================================
*/
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
.hide-height {
  height: 0;
}
.none {
  display: none;
}
